@import "~/scss/var.module";

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden overlay;
  padding-right: 10px;
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border: 1px solid $violet-70;
  border-radius: 7px;
  box-sizing: border-box;
  background-color: $violet-95;
  box-shadow: inset 0 0 5px 1px $violet-85;
}
